@use "../../styles/variables";
@use "../../styles/mixins";

.type-tester {
  // background: rgba(0, 0, 0, 0.04);
  // background-color: red;
  position: relative;

  aside {
    position: absolute;
    right: var(--spacing-md);
    // top: 50%;
    top: calc(var(--header-height) + var(--spacing-md));
    transform: translateY(-50%);
    max-width: 235px;
    width: 100%;
    // background: rgba(231, 231, 231, 1);
    // background-color: #ededed;
    // backdrop-filter: blur(54px);
    padding: var(--spacing-xs);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    // box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
    .bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      pointer-events: none;
      background: rgba(231, 231, 231, 1);
      background: #ededed;
      backdrop-filter: blur(54px);
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
    }
    .handle {
      height: 25px;
      cursor: move;
      display: flex;
      justify-content: center;
      &::before {
        content: "";
        width: 44px;
        height: 2px;
        background-color: rgba(199, 199, 199, 1);
      }
    }
    .body {
      &.is-collapsed {
        display: none;
      }
      .sizes {
        padding: var(--spacing-lg) 0 calc(var(--spacing-lg) + var(--spacing-xs));
        .ui-range:last-child {
          margin: 0;
        }
      }
    }
    .ui-btn,
    .ui-select:not(.rmsc) {
      background-color: white;
      color: var(--color-primary);
      &:hover,
      &:active,
      &.is-active {
        background-color: rgba(214, 214, 214, 1);
      }
    }
    .ui-select.rmsc {
      --rmsc-bg: white !important;
    }
    .wrap {
      flex: 2;
      min-width: 2em;
    }
    .body.is-collapsed + .footer .ui-btn {
      line-height: 2.7rem;
    }
    .footer {
      .ui-btn {
        width: 100%;
        line-height: 2.8rem;
      }
    }
  }

  .canvas {
    background: rgba(0, 0, 0, 0.04);
    height: calc(var(--main-h) - var(--spacing-md));
    overflow: hidden;
    overflow-y: auto;
    padding: var(--spacing-md);
    .inner {
      height: 100%;
      display: grid;
      align-items: center;
    }
    .t-preview {
      text-align: var(--text-align, "center");
      font-size: var(--font-size, 9.375rem);
      font-family: var(--font-family);
      line-height: var(--line-height, 1);
      letter-spacing: var(--letter-spacing, 0);
      text-transform: var(--text-transform, "none");
      font-feature-settings: var(--font-feature-settings);
      // font-variant-caps: var(--font-variant-caps);
      // font-variant-ligatures: var(--font-variant-ligatures);
      // font-variant-numeric: var(--font-variant-numeric);
      &.is-paragraph {
        column-count: var(--column-count, 1);
      }
      &:focus {
        outline: none;
      }
      // transition: all 0.1s ease-in-out;
    }
  }

  @media all and (max-width: variables.$md) {
    height: auto;
    // padding: 0 var(--spacing-xs);
    aside {
      position: initial;
      max-width: unset;
      gap: var(--spacing-lg);
      .bg {
        box-shadow: none;
      }
      .handle {
        display: none;
      }
      .styles,
      .footer {
        display: none;
      }
      .body {
        .ui-range {
          display: none;
          &:first-child {
            display: block;
          }
        }
        .sizes {
          padding: 0;
        }
      }
    }
    .canvas {
      padding-left: 0;
      // min-height: 420px;
      height: 50vh;
      height: calc(var(--vw) * 100 - var(--spacing-md));
      padding: 0;
      margin-bottom: var(--spacing-xs);
    }
  }
}

.dark .type-tester {
  .canvas {
    background-color: rgba(255, 255, 255, 0.01);
    background-color: #1c1c1c;
  }
  aside {
    .bg {
      background-color: rgba(71, 71, 71, 0.4);
      background-color: #2d2d2d;
    }
    .ui-btn {
      background-color: rgba(60, 60, 60, 1);
      &:hover,
      &:active,
      &.is-active {
        background-color: rgba(111, 111, 111, 1);
      }
    }
    .ui-select:not(.rmsc) {
      background-color: rgba(60, 60, 60, 1);
      &:hover,
      &:active,
      &.is-active {
        background-color: rgba(111, 111, 111, 1);
      }
    }
    .ui-select.rmsc {
      --rmsc-bg: rgba(60, 60, 60, 1) !important;
    }
  }
}

.rmsc {
}
