@use "../../styles/variables";
@use "../../styles/mixins";

.type-tester {
  background: rgba(0, 0, 0, 0.04);
  // background-color: red;
  position: relative;

  aside {
    position: absolute;
    left: var(--spacing-md);
    // top: 50%;
    top: calc(var(--header-height) + var(--spacing-md));
    transform: translateY(-50%);
    max-width: 235px;
    width: 100%;
    background: rgba(231, 231, 231, 1);
    backdrop-filter: blur(54px);
    padding: var(--spacing-xs);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    .handle {
      height: 25px;
      cursor: move;
      display: flex;
      justify-content: center;
      &::before {
        content: "";
        width: 44px;
        height: 2px;
        background-color: rgba(199, 199, 199, 1);
      }
    }
    .body {
      &.is-collapsed {
        display: none;
      }
      .sizes {
        padding: var(--spacing-lg) 0 calc(var(--spacing-lg) + var(--spacing-xs));
        .ui-range:last-child {
          margin: 0;
        }
      }
    }
    .ui-btn,
    .ui-select {
      background-color: white;
      color: var(--color-primary);
      &:hover,
      &:active,
      &.is-active {
        background-color: rgba(214, 214, 214, 1);
      }
    }
    .wrap {
      flex: 2;
      min-width: 2em;
    }
    .footer {
      // @include mixins.debugFiletY(50%);
      .ui-btn {
        width: 100%;
        // line-height: 2.6rem;
        line-height: 2.8rem;
      }
    }
  }

  .canvas {
    height: calc(var(--main-h) - var(--spacing-md));
    overflow: clip;
    // padding: var(--spacing-md);
    // background-color: red;
    .t-preview {
      position: absolute;
      left: var(--spacing-md);
      top: 50%;
      transform: translate(-0%, -50%);
      width: calc(100% - var(--spacing-md) * 2);
      text-align: var(--text-align, "center");
      font-size: var(--font-size, 9.375rem);
      font-family: var(--font-family);
      line-height: var(--line-height, 1);
      letter-spacing: var(--letter-spacing, 0);
      text-transform: var(--text-transform, "none");
      // word-break: break-all;
      // overflow: clip;
      // background-color: red;
      &:focus {
        outline: none;
      }
      // transition: all 0.1s ease-in-out;
    }
  }

  @media all and (max-width: variables.$md) {
    height: auto;
    padding: 0 var(--spacing-xs);
    aside {
      position: initial;
      max-width: unset;
      gap: var(--spacing-lg);
      .handle {
        display: none;
      }
      .styles,
      .footer {
        display: none;
      }
    }
    .canvas {
      padding-left: 0;
      min-height: 420px;
    }
  }
}

.dark .type-tester {
  .canvas {
    background-color: rgba(255, 255, 255, 0.01);
    background-color: #1c1c1c;
  }
  aside {
    background-color: rgba(71, 71, 71, 0.4);
    .ui-btn {
      background-color: rgba(60, 60, 60, 1);
      &:hover,
      &:active,
      &.is-active {
        background-color: rgba(111, 111, 111, 1);
      }
    }
    .ui-select {
      background-color: rgba(60, 60, 60, 1);
      &:hover,
      &:active,
      &.is-active {
        background-color: rgba(111, 111, 111, 1);
      }
    }
  }
}
