@use "../../styles/variables";

.module--slider-stories-ui {
  position: relative;
  z-index: 0;
  @media all and (max-width: variables.$md) {
    --main-h: calc(var(--vh) * 100 - 100px);
    --main-h: auto;
  }
  @media all and (max-width: variables.$sm) {
    & > div > div {
      // max-height: 230px;
    }
    img {
      // height: 230px !important;
    }
  }
}
