@use "../../styles/variables";

.module--fonts-in-use-ui {
  & > .header {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    align-items: baseline;
    // .actions {
    //   display: flex;
    //   gap: 0.4em;
    //   a,
    //   button {
    //     font-size: var(--text-lg);
    //     padding-inline: 0;
    //     padding-block: 0;
    //     margin: 0;
    //   }
    // }
  }
  .card.card--font-in-use {
    &:last-child {
      padding-right: var(--spacing-md);
    }
  }

  @media all and (max-width: variables.$md) {
    .card.card--font-in-use {
      &:last-child {
        padding-right: var(--spacing-xs);
      }
    }
  }
}
