.module--text-ui {
  &:not(.full-width) {
    h2 {
      text-align: center;
      margin-bottom: var(--spacing-2xl);
      & + .text:has(.accordion) .accordion {
        padding-top: var(--spacing-lg);
      }
    }
    .text {
      max-width: var(--container-md--w);
      margin: 0 auto;
    }
  }
  &.w-full {
    .text {
      max-width: 72rem;
      margin: 0;
    }
  }
}

.modules:has(.module--text-ui + .module--text-ui) {
  .module--text-ui {
    margin-bottom: var(--spacing-5xl);
    &:last-of-type {
      margin-bottom: 0;
    }
    &:has(.accordion) {
      padding-top: var(--spacing-3xl);
      // background-color: red;
    }
  }
}
