@use "../../styles/variables";

.module--faq-ui {
  nav {
    margin-bottom: var(--spacing-9xl);
    ul {
      justify-content: center;
      gap: var(--spacing-3xs);
    }
  }
  .faq-item {
    scroll-margin-top: var(--header-height);
    margin-bottom: var(--spacing-7xl);
    h3 {
      margin-bottom: O;
    }
    .accordion {
      // padding-top: var(--spacing-3xl);
      padding: var(--spacing-3xl) 0 0;
    }
  }

  & + .module--text-ui {
    h2,
    p {
      margin-bottom: var(--spacing-2xl);
    }
    p {
      text-align: center;
    }
  }

  @media all and (max-width: variables.$md) {
    .c-container {
      padding: 0;
    }
    nav {
      margin-bottom: 112px;
      ul {
        // justify-content: center;
        align-items: center;
      }
    }
  }
}
