.module--text-ui {
  &:not(.full-width) {
    h2 {
      text-align: center;
      margin-bottom: var(--spacing-2xl);
    }
    .text {
      max-width: var(--container-md--w);
      margin: 0 auto;
    }
  }
  &.w-full {
    .text {
      max-width: 72rem;
      margin: 0;
    }
  }
}

.modules:has(.module--text-ui + .module--text-ui) {
  .module--text-ui {
    margin-bottom: var(--spacing-4xl);
  }
}
