.content--product {
  section:not(.Toastify) {
    scroll-margin-top: calct(var(--header-height) + var(--spacing-4xl));
    margin-bottom: var(--spacing-12xl);
  }
  .hero {
    margin-bottom: var(--spacing-md);
  }
  nav {
    position: sticky;
    // top: calct(var(--header-height) + var(--spacing-md));
    // top: 2rem;
    bottom: var(--spacing-md);
    z-index: 8;
    margin-bottom: var(--spacing-9xl);
    .ui-btn {
      width: 7.938rem;
    }
  }
  .waterfall {
    text-align: center;
    padding-top: calc(var(--spacing-md) + var(--header-height));

    .header {
      margin-bottom: var(--spacing-4xl);
    }
    h1 {
      margin-bottom: calc(var(--spacing-md) * 0.6);
      line-height: 1;
    }
  }
  h2 {
    // text-align: center;
    // margin-bottom: var(--spacing-4xl);
  }
  .about {
    padding-top: calc(var(--spacing-md) + var(--header-height));
    h2 {
      text-align: center;
      margin-bottom: var(--spacing-4xl);
    }
    .text {
      max-width: var(--container-md--w);
      margin: 0 auto;
    }
  }
  .images {
    .col-span-1:not(.col-span-2) {
      img {
        aspect-ratio: 1 / 1;
        height: 100% !important;
        object-fit: cover;
      }
    }
  }
  .related {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    h2 {
      font-size: var(--text-2xl);
    }
  }
}
