@use "../variables";

.content--product {
  --space-top: calc(var(--spacing-md) + var(--header-height));
  section:not(.Toastify) {
    scroll-margin-top: calct(var(--header-height) + var(--spacing-4xl));
    margin-bottom: var(--spacing-6xl);
    &.hero-slider {
      // margin-bottom: var(--spacing-md);
      figure {
        display: block;
      }
      img {
        height: calc(var(--main-h) - var(--spacing-md)) !important;
        object-fit: cover !important;
      }
    }
    &.waterfall {
      text-align: center;
      padding-top: var(--space-top);

      .header {
        margin-bottom: var(--spacing-4xl);
      }
      h1 {
        margin-bottom: calc(var(--spacing-md) * 0.6);
        line-height: 1;
      }
    }
    &.about {
      padding-top: var(--space-top);
      margin-bottom: var(--spacing-12xl);
      h2 {
        text-align: center;
        margin-bottom: var(--spacing-4xl);
      }
      .text {
        max-width: var(--container-md--w);
        margin: 0 auto;
      }
    }
    &.tester {
      margin-bottom: var(--spacing-md);
    }
    &.images {
      margin-bottom: var(--spacing-12xl);
      .col-span-1:not(.col-span-2) {
        img {
          aspect-ratio: 1 / 1;
          height: 100% !important;
          object-fit: cover;
        }
      }
    }
    &.in-use {
      margin-bottom: var(--spacing-12xl);

      & > .header {
        display: flex;
        justify-content: space-between;
        line-height: 1;
        align-items: baseline;
      }
      .card.card--font-in-use {
        &:last-child {
          padding-right: var(--spacing-md);
        }
      }

      @media all and (max-width: variables.$md) {
        .card.card--font-in-use {
          &:last-child {
            padding-right: var(--spacing-xs);
          }
        }
      }
    }
    &.related {
      .card {
        // aspect-ratio: 1 / 1;
        // height: 100%;
        .header,
        .footer {
          padding: var(--spacing-md);
        }
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      h2 {
        // font-size: var(--text-2xl);
      }
    }
  }

  nav {
    z-index: 50;
    position: sticky;
    bottom: var(--spacing-md);
    bottom: calc(15.5px + 1rem);
    // margin-bottom: var(--spacing-9xl);
    transition: all 0.2s;
    &.is-collapsed {
      transform: translateY(100%);
      opacity: 0;
      pointer-events: none;
    }
    .ui-btn {
      width: 7.938rem;
    }
  }

  .images {
  }

  .related {
  }

  @media all and (max-width: variables.$md) {
    section:not(.Toastify) {
      margin-bottom: 0;
      &.waterfall {
        // padding-top: 0;
      }
      &.about,
      &.tester {
        margin-bottom: 112px;
      }
    }

    nav ul {
      align-items: center;
      li {
        width: auto;
      }
    }
  }
}
