@use "../variables";

.content--product {
  --space-top: calc(var(--spacing-md) + var(--header-height));
  section:not(.Toastify) {
    scroll-margin-top: calct(var(--header-height) + var(--spacing-4xl));
    margin-bottom: var(--spacing-6xl);
    &.hero {
      // margin-bottom: var(--spacing-md);
    }
    &.waterfall {
      text-align: center;
      padding-top: var(--space-top);

      .header {
        margin-bottom: var(--spacing-4xl);
      }
      h1 {
        margin-bottom: calc(var(--spacing-md) * 0.6);
        line-height: 1;
      }
    }
    &.about {
      padding-top: var(--space-top);
      margin-bottom: var(--spacing-12xl);
      h2 {
        text-align: center;
        margin-bottom: var(--spacing-4xl);
      }
      .text {
        max-width: var(--container-md--w);
        margin: 0 auto;
      }
    }
    &.tester {
      margin-bottom: var(--spacing-md);
    }
    &.images {
      margin-bottom: var(--spacing-12xl);
    }
  }

  nav {
    position: sticky;
    bottom: var(--spacing-md);
    z-index: 8;
    margin-bottom: var(--spacing-9xl);
    .ui-btn {
      width: 7.938rem;
    }
  }

  .images {
    .col-span-1:not(.col-span-2) {
      img {
        aspect-ratio: 1 / 1;
        height: 100% !important;
        object-fit: cover;
      }
    }
  }
  .related {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    h2 {
      // font-size: var(--text-2xl);
    }
  }

  @media all and (max-width: variables.$md) {
    section:not(.Toastify) {
      margin-bottom: 0;
      &.waterfall {
        // padding-top: 0;
      }
      &.about {
        margin-bottom: 112px;
      }
    }

    nav ul {
      align-items: center;
      li {
        width: auto;
      }
    }
  }
}
