@use "../variables";

.content--project {
  section {
    // margin-bottom: var(--spacing-12xl);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .hero {
    // margin-bottom: var(--spacing-7xl);
    img {
      height: calc(var(--main-h) - var(--spacing-md)) !important;
      object-fit: cover !important;
    }
  }
  h1 {
    font-size: var(--text-2xl);
    text-align: center;
    margin-bottom: var(--spacing-4xl);
  }

  @media all and (max-width: variables.$md) {
    .c-container {
      padding: 0;
    }
    .hero {
      margin-bottom: 112px;
    }
    h1 {
      // font-size: var(--text-4xl);
    }
  }
}
