.content--project {
  section {
    margin-bottom: var(--spacing-7xl);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .hero {
    margin-bottom: var(--spacing-7xl);
  }
  h1 {
    font-size: var(--text-2xl);
    text-align: center;
    margin-bottom: var(--spacing-4xl);
  }
}
