@use "../variables";

.footer-group {
  min-height: calc(var(--vh) * 100);
  padding-top: calc(var(--header-height) + var(--spacing-md));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-cta {
  p a {
    text-decoration: none;
    &:hover {
      color: var(--color-primary);
    }
  }
}
footer {
  // padding: var(--spacing-md);

  .inner {
    padding: var(--spacing-md);
    background-color: var(--color-btn);
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;
  }
  // background: rgba(231, 231, 231, 0.5);
  .credits {
    margin-top: var(--spacing-9xl);
    display: flex;
    justify-content: space-between;
  }
  a:hover {
    color: var(--color-secondary);
  }

  @media all and (max-width: variables.$md) {
    .inner {
      padding: 34px;
      .grid {
        text-align: center;
        a {
          font-size: var(--text-xl);
        }
      }
    }
    .credits {
      margin-top: var(--spacing-4xl);
      flex-direction: column;
      justify-content: center;

      text-align: center;
      line-height: 2;
    }
  }
}
