@use "../variables";

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15.5px var(--spacing-md);
  z-index: 51;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  font-size: var(--text-sm);
  max-height: 111px;
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  .logo {
    svg {
      width: 120px;
    }
  }

  @media all and (max-width: variables.$md) {
    padding: 17.5px var(--spacing-xs);
    .logo {
      svg {
        width: 82px;
        height: 54px;
      }
    }
  }
}

//118 -> 82
// 80 -> 54
