@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:is(.dark *));

:root {
  --color-bg: rgba(253, 253, 253, 1);
  --color-primary: rgba(16, 16, 16, 1);
  --color-secondary: rgba(157, 157, 157, 1);
  --color-accent: rgba(0, 118, 247, 1);
  --color-accent--hover: rgba(2, 108, 223, 1);
  --color-accent--alt: rgba(82, 255, 134, 1);
  --color-btn: rgba(231, 231, 231, 0.5);
  --color-btn--hover: rgba(183, 183, 183, 0.5);
  --color-tag: rgba(27, 27, 27, 0.3);

  --font-primary: "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman",
    "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Arial",
    sans-serif;

  /* Spacing */
  --spacing-0: 0;
  --spacing-3xs: 0.25rem; /* 4px */
  --spacing-2xs: 0.5rem; /* 8px */
  --spacing-xs: 0.75rem; /* 12px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.25rem; /* 20px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 2.5rem; /* 40px */
  --spacing-3xl: 3rem; /* 48px */
  --spacing-4xl: 4rem; /* 64px */
  --spacing-5xl: 5rem; /* 80px */
  --spacing-6xl: 6rem; /* 96px */
  --spacing-7xl: 8rem; /* 128px */
  --spacing-8xl: 9rem; /* 144px */
  --spacing-9xl: 10rem; /* 160px */
  --spacing-10xl: 12rem; /* 192px */
  --spacing-12xl: 14rem; /* 224px */
  --spacing-14xl: 16rem; /* 256px */
  --spacing-16xl: 18rem; /* 288px */
  --spacing-18xl: 20rem; /* 320px */

  /* Text Sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 3.75rem; /* 60px */
  --text-10xl: 9.375rem; /* 150px */

  /* Line Heights */
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  /* Header Height */
  --header-height: 54.12px;

  /* Border */
  --border-width: 1px;
  --border-width-lg: 2px;
  --border: var(--border-width) solid;
  --border-lg: var(--border-width-lg) solid;

  --cubic: cubic-bezier(0.87, 0, 0.13, 1);

  /* --text-xl: clamp(26px, 5.21vw, 75px);*/

  --radius: 0.625rem;
  --radius-sm: 0.438rem;

  --gutter: 9px;

  --screen-sm: 768px;
  --screen-md: 1024px;
  --screen-lg: 1441px;
}
.dark {
  --color-bg: rgba(16, 16, 16, 1);
  --color-primary: rgba(246, 246, 246, 1);
  --color-secondary: rgba(157, 157, 157, 1);
  --color-accent: rgba(0, 118, 247, 1);
  --color-accent--hover: rgba(2, 108, 223, 1);
  --color-accent--alt: rgba(82, 255, 134, 1);
  --color-btn: rgba(71, 71, 71, 0.4);
  --color-btn--hover: rgba(183, 183, 183, 0.5);
  --color-tag: rgba(27, 27, 27, 0.3);
}

@theme inline {
  /* Colors */
  --color-bg: var(--color-bg);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-accent--hover: var(--color-accent--hover);
  --color-accent--alt: var(--color-accent--alt);
  --color-btn: var(--color-btn);
  --color-btn--hover: var(--color-btn--hover);
  --color-tag: var(--color-tag);
  /* Typography */
  --font-primary: "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman",
    "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Arial",
    sans-serif;

  /* Spacing */
  --spacing-0: var(--spacing-0);
  --spacing-3xs: var(--spacing-3xs); /* 4px */
  --spacing-2xs: var(--spacing-2xs); /* 8px */
  --spacing-xs: var(--spacing-xs); /* 12px */
  --spacing-sm: var(--spacing-sm); /* 16px */
  --spacing-md: var(--spacing-md); /* 20px */
  --spacing-lg: var(--spacing-lg); /* 24px */
  --spacing-xl: var(--spacing-xl); /* 32px */
  --spacing-2xl: var(--spacing-2xl); /* 40px */
  --spacing-3xl: var(--spacing-3xl); /* 48px */
  --spacing-4xl: var(--spacing-4xl); /* 64px */
  --spacing-5xl: var(--spacing-5xl); /* 80px */
  --spacing-6xl: var(--spacing-6xl); /* 96px */
  --spacing-7xl: var(--spacing-7xl); /* 128px */
  --spacing-8xl: var(--spacing-8xl); /* 144px */
  --spacing-9xl: var(--spacing-9xl); /* 160px */
  --spacing-10xl: var(--spacing-10xl); /* 192px */
  --spacing-12xl: var(--spacing-12xl); /* 224px */
  --spacing-14xl: var(--spacing-14xl); /* 256px */
  --spacing-16xl: var(--spacing-16xl); /* 288px */
  --spacing-18xl: var(--spacing-18xl); /* 320px */

  /* Text Sizes */
  --text-sm: var(--text-sm); /* 14px */
  --text-base: var(--text-base); /* 16px */
  --text-md: var(--text-md); /* 18px */
  --text-lg: var(--text-lg); /* 20px */
  --text-xl: var(--text-xl); /* 24px */
  --text-2xl: var(--text-2xl); /* 32px */
  --text-3xl: var(--text-3xl); /* 60px */
  --text-10xl: var(--text-10xl); /* 150px */

  /* Line Heights */
  --leading-tight: var(--leading-tight);
  --leading-snug: var(--leading-snug);
  --leading-normal: var(--leading-normal);
  --leading-relaxed: var(--leading-relaxed);
  --leading-loose: var(--leading-loose);

  /* Header Height */
  --header-height: var(--header-height);

  /* Custom Cubic Bezier */
  --cubic: var(--cubic);

  /* Border */
  --border-width: var(--border-width);
  --border-width-lg: var(--border-width-lg);
  --border: var(--border-width) solid;
  --border-lg: var(--border-width-lg) solid;
  --leading-xl: var(--leading-xl); /* 26px */

  --radius: var(--radius);
  --radius-sm: var(--radius-sm);

  --gutter: var(--gutter);

  --screen-sm: var(--screen-sm);
  --screen-md: var(--screen-md);
  --screen-lg: var(--screen-lg);
}
