@use "./mixins";
@use "./variables";

.c-container {
  max-width: var(--container-md--w);
  margin: 0 auto;
  &__lg {
    max-width: var(--container-lg--w);
  }
  &__xl {
    max-width: var(--container-xl--w);
  }
}
.scroll-x {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.has-blur {
  // backdrop-filter: blur(30px);
  backdrop-filter: blur(15px);
}
.rounded {
  border-radius: var(--radius);
  overflow: clip;
}
.ui-cartouche {
  border-radius: var(--radius-sm);
  background-color: var(--color-btn);
  display: block;
  width: 100%;
  padding: 0 var(--spacing-md);
  height: 2.25rem;
  line-height: 2.35rem;
  &:hover {
    background-color: var(--color-btn--hover);
  }
  &--sm {
    padding: 0.4em var(--spacing-md);
  }
}
.has-submenu {
  position: relative;
  border-radius: var(--radius-sm);
  background-color: var(--color-btn);
  backdrop-filter: blur(30px);
  height: 2.25rem;
  @media all and (max-width: variables.$md) {
    background-color: transparent;
    height: auto;
  }
  .ui-cartouche {
    background-color: transparent;
    backdrop-filter: none;
    &:hover {
      background-color: transparent;
    }
  }
  &:hover {
    height: auto;

    .sub-menu {
      display: block;
    }
    i {
      transform: rotate(180deg);
    }
  }
  i {
    position: absolute;
    right: var(--spacing-md);
    top: calc(1.2em + 0.7em);
    z-index: 1;
    font-size: 0.5em;
    transition: transform 0.3s ease;
  }
  .sub-menu {
    display: none;
    z-index: 2;
    width: 100%;
    // background-color: var(--color-btn);
    border-bottom-left-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
    padding: var(--spacing-3xs);

    li .ui-cartouche {
      padding-left: calc(var(--spacing-md) - var(--spacing-3xs));
      padding-right: calc(var(--spacing-md) - var(--spacing-3xs));

      &:hover {
        background-color: var(--color-btn--hover);
        backdrop-filter: blur(30px);
      }
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}
.ui-link {
  display: flex;
  gap: 0.4em;
  &.has-icon .icon i {
    font-size: 0.6em;
  }
}
.ui-btn {
  font-size: var(--text-sm);
  border-radius: var(--radius-sm);
  height: 2.571em;
  line-height: 2.571em;
  line-height: 2.771em;

  height: 2.25rem;
  line-height: 2.35rem;

  padding: 0 1.428em;
  cursor: pointer;
  background-color: var(--color-btn);

  &:hover,
  &:active,
  &.is-active {
    background-color: var(--color-btn--hover);
  }
  &__accent {
    background-color: var(--color-accent);
    color: white;
    padding-left: 2.14em;
    padding-right: 2.14em;
    &:hover,
    &:active,
    &.is-active {
      background-color: var(--color-accent--hover);
    }
  }
  &--sm {
    height: 1.625rem;
    // line-height: 1.45rem;
    line-height: 1.625rem;
  }
}
a.ui-btn {
  display: inline-block;
  text-decoration: none !important;
  &__accent {
    &:hover {
      color: white;
    }
  }
}
.btn__delete {
  cursor: pointer;
}

.ui-btn--pill {
  border-radius: 2em;
  // padding: 0.438em 0.625em 0.375em 0.688em;
  padding: 0 0.625em 0 0.688em;
  background-color: #1b1b1b4d;
  color: #f6f6f6;
  // display: flex;
  // align-items: center;
  // gap: 0.6em;
  font-size: var(--text-sm);
  height: 1.625rem;
  // line-height: 1.625rem;
  line-height: 1.725rem;

  &.has-icon {
    // padding-left: 8px;
    position: relative;
    padding-left: calc(11px + 0.51rem + 0.3rem);
  }
  &:not(.has-icon) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  span {
    // line-height: 0.8;
    // line-height: 1.725;
    // display: block;
    // background-color: red;
  }
  .icon {
    display: block;
    position: absolute;
    left: 0.51rem;
    top: 0.05rem;
    // transform: translateY(-50%);
    .icon-dot-green {
      width: 11px;
      height: 11px;
      border-radius: 100%;
      background-color: #52ff86;
      display: inline-block;
    }
  }
  &__accent {
    background-color: var(--color-accent);
    color: white;
    &:hover,
    &:active,
    &.is-active {
      background-color: var(--color-accent--hover);
    }
  }
}

.ui-btn--icon,
.ui-btn--tooltip {
  text-align: center;
  background-color: var(--color-btn);
  height: 2.25rem;
  line-height: 2.25rem;

  height: 2.25rem;
  line-height: 2.35rem;
  line-height: 2.55rem;

  border-radius: var(--radius-sm);
  overflow: clip;
  padding: 0 0.928em;
  &.ui-btn--icon {
    width: 2.25rem;
    padding: 0;
  }
  &:hover,
  &:active,
  &.is-active {
    background-color: var(--color-btn--hover);
  }
  span {
    font-size: 14px;
  }
  &__sm {
    height: 1.625rem;
    padding: 0;
    line-height: 1.45rem;
    line-height: 1.625rem;
    border-radius: 100%;
    &.rounded {
      width: 1.625rem;
    }
    span {
      font-size: 9.2px;
    }
  }
}
.ui-btn--tooltip {
  position: relative;
  overflow: unset;
  background-color: var(--color-bg);
  &__sm {
    line-height: 1.825rem;
    span {
      font-size: var(--text-sm);
    }
  }
  .tooltip {
    position: absolute;
    right: calc(100% + var(--spacing-xs));
    top: 0%;
    background-color: var(--color-primary);
    color: white;
    padding: 0.5em 1em;
    border-radius: var(--radius-sm);
    width: 213px;
    line-height: 1;
    text-align: left;
    &::after {
      content: "";
      position: absolute;
      right: -9px;
      top: 0.8rem;
      transform: translateY(-50%);
      width: 19px;
      height: 11px;
      background-color: var(--color-primary);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
  }
}
.dark .ui-btn--tooltip {
  background: white;
  color: var(--color-bg);
  .tooltip {
    background: white;
    color: var(--color-bg);
    &::after {
      background-color: white;
    }
  }
}

.ui-range {
  --track-height: 11px;
  --thumb-height: 16px;
  --thumb-width: 16px;
  --color: var(--color-secondary);
  // --color: var(--color-accent);
  --color-bg: white;
  font-size: var(--text-sm);
  margin-bottom: var(--spacing-xs);
  .label {
    margin-bottom: var(--spacing-3xs);
    label {
      white-space: nowrap;
    }
  }

  input {
    appearance: none;
    background-color: none;
    border: none;
    &[type="range"] {
      width: 100%;
      accent-color: var(--color);
    }

    &[type="range"],
    &[type="range"]::-webkit-slider-runnable-track,
    &[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &[type="range"]::-webkit-slider-runnable-track {
      height: var(--track-height);
      background: linear-gradient(to right, var(--color), var(--color));
      background-color: var(--color-bg);
      background-size: var(--background-size, 0%) 100%;
      background-repeat: no-repeat;
      border-radius: var(--radius-sm);
    }

    &[type="range"]::-webkit-slider-thumb {
      width: var(--thumb-width);
      height: var(--thumb-height);
      cursor: pointer;
      background: var(--color);
      border: none;
      border-radius: 50%;
      margin-top: calc((var(--track-height) / 2) - (var(--thumb-height) / 2));
      position: relative;
      // background-color: orange;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   inset: -1em;
      //   background-color: red;
      // }
    }

    /** FF*/

    &[type="range"]::-moz-range-progress {
      // background-color: #fff;
      border-radius: var(--radius-sm);
    }

    &[type="range"]::-moz-range-track {
      height: var(--track-height);
      background: linear-gradient(to right, var(--color), var(--color));
      background-color: var(--color-bg);
      background-size: var(--background-size, 0%) 100%;
      background-repeat: no-repeat;
      border-radius: var(--radius-sm);
    }

    &[type="range"]::-moz-range-thumb {
      width: var(--thumb-width);
      height: var(--thumb-height);
      cursor: pointer;
      background: var(--color);
      border: none;
      border-radius: 50%;
      margin-top: calc((var(--track-height) / 2) - (var(--thumb-height) / 2));
    }

    &[type="number"] {
      appearance: textfield;
      pointer-events: none;
      text-align: right;
      width: auto;
      min-width: 4em;
      &:focus {
        outline: none;
      }
    }
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
.dark .ui-range input[type="range"] {
  --color-bg: #3c3c3c;
  // --color-bg: var(--color-primary);
  // &::-moz-range-progress {
  //   background-color: var(--color-bg);
  // }

  // &::-webkit-slider-runnable-track {
  //   background-color: var(--color-bg);
  // }
}

.ui-select {
  appearance: none;
  width: 100%;
  // max-width: 188px;
  position: relative;
  height: 2.25rem;
  line-height: 2.35rem;
  font-size: var(--text-sm);
  padding: 0 1.428em;
  // display: inline-block;
  background-color: var(--color-btn);
  // padding: 7.8px var(--spacing-md);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' x='0px' y='0px' viewBox='0 0 12 7' xml:space='preserve'%3E%3Cpolygon fill='%23101010' points='6,6.7 0.6,1.3 1.4,0.6 6,5.2 10.6,0.6 11.4,1.3 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-position-y: 15px;
  border-radius: var(--radius-sm);

  &.rmsc {
    background-color: transparent;
    padding: 0;
    --rmsc-main: #4285f4 !important;
    --rmsc-hover: #d6d6d6 !important;
    --rmsc-selected: #d6d6d6 !important;
    --rmsc-border: none !important;
    --rmsc-gray: #var(--color-secondary) !important;
    --rmsc-bg: var(--color-btn) !important;
    --rmsc-p: 1.428em !important;
    --rmsc-radius: var(--radius-sm) !important;
    --rmsc-h: 2.25rem !important;
    --rmsc-icon-size: 15px !important;
    .dropdown-container {
      .dropdown-heading {
        height: 2.25rem;
        padding-right: 8%;
        .dropdown-heading-value {
          height: 2.25rem;
        }
        button.clear-selected-button {
          display: none;
        }
        svg {
          stroke-width: 1px;
          // width: var(--rmsc-icon-size);
          // height: var(--rmsc-icon-size);
          // width: 12px;
          // height: 12px;
          path {
            stroke: currentColor;
          }
        }
      }
      .panel-content {
        box-shadow: none;
      }
      .select-item {
        padding: 0 1.428em;
        input {
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }
}
.dark .ui-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' x='0px' y='0px' viewBox='0 0 12 7' xml:space='preserve'%3E%3Cpolygon fill='white' points='6,6.7 0.6,1.3 1.4,0.6 6,5.2 10.6,0.6 11.4,1.3 '/%3E%3C/svg%3E");
  background-color: transparent;
  &.rmsc {
    --rmsc-main: #4285f4 !important;
    --rmsc-hover: rgba(111, 111, 111, 1) !important;
    --rmsc-selected: rgba(111, 111, 111, 1) !important;
    --rmsc-border: none !important;
    --rmsc-gray: #var(--color-secondary) !important;
    --rmsc-bg: rgba(60, 60, 60, 1) !important;
    --rmsc-p: 1.428em !important;
    --rmsc-radius: var(--radius-sm) !important;
    --rmsc-h: 2.25rem !important;
    --rmsc-icon-size: 15px !important;
  }
}

.is-chrome .select-ui {
  &::before {
    top: 24%;
  }
  select {
    padding: 0.4em 2.5em 0.4em 1.5rem;
  }
}

.ui-radio {
  border-radius: var(--radius);
  background-color: var(--color-bg);
  padding: 0 var(--spacing-md);
  height: 3.313rem;
  line-height: 3.513rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-lg);
  cursor: pointer;
  &:hover,
  &:active {
    background-color: var(--color-btn--hover);
  }
  & > * {
    height: 100%;
    line-height: inherit;
  }

  &.is-active {
    background-color: var(--color-accent);
    color: white;
    input {
      accent-color: white;
    }
  }
  .inner {
    display: flex;
    // gap: 0.625rem;
    font-size: var(--text-lg);
    input {
      // margin-right: 0.625rem;
    }
  }
}
.dark .ui-radio:hover,
.dark .ui-radio:active {
  background-color: rgba(27, 27, 27, 1);
  &.is-active {
    background-color: var(--color-accent);
  }
  // color: var(--color-primary);
}

.ui-radio--group {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
    margin: 0 !important;
    .ui-btn--tooltip {
      background-color: white;
    }
    .label {
      font-size: var(--text-lg);
    }
  }

  .ui-radio {
    cursor: pointer;
    width: 100%;
    label {
      text-transform: capitalize;
    }
  }
}

.ui-checkbox {
  font-size: var(--text-lg);

  label {
    pointer-events: none;
  }
  input {
    // margin-right: 0.625rem;
  }
}

.ui-radio,
.ui-checkbox {
  input {
    visibility: hidden;
    margin: 0;
    position: absolute;
  }
}
.ui-bundle {
  border-radius: var(--radius);
  background-color: var(--color-btn);
  background-color: white;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-3xl) * 1.4375);
  // gap: 0;
  font-size: var(--text-lg);
  &:hover,
  &:active {
    background-color: var(--color-btn--hover);
  }
  &.is-active {
    background-color: var(--color-accent);
    color: white;
    .ui-btn--pill {
      background-color: white;
      color: var(--color-accent);
    }
    input {
      accent-color: white;
    }
    .text-secondary {
      color: rgba(199, 199, 199, 1);
    }
  }
  cursor: pointer;
  .infos {
    // padding-left: calc(0.813rem + 0.625rem);
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ui-single {
  border-radius: var(--radius);
  background-color: var(--color-btn);
  background-color: white;
  padding: var(--spacing-md);
  padding: 0 var(--spacing-md);
  height: 3.313rem;
  line-height: 3.513rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
  font-size: var(--text-lg);
  & > * {
    height: 100%;
    line-height: inherit;
    .price {
      height: 100%;
    }
  }
  .t-preview,
  .footer {
    // line-height: 1;
  }
  &:hover,
  &:active {
    background-color: var(--color-btn--hover);
  }
  &.is-active {
    background-color: var(--color-accent);
    color: white;
    .ui-btn--pill {
      background-color: white;
      color: var(--color-accent);
    }
    input {
      accent-color: white;
    }
  }
  cursor: pointer;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-2xs);
    position: relative;
    .ui-btn--pill {
      position: absolute;
      right: calc(100% + 0.4em);
    }
  }
}

.ui-trial {
  border-radius: var(--radius);
  // background-color: var(--color-btn);
  padding: var(--spacing-md);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: var(--text-lg);
  cursor: pointer;

  @media all and (max-width: variables.$md) {
    // @include mixins.debugFiletY(50%);
    padding: 0 0.18em;
    font-size: var(--text-2xl);
    font-size: 1.5rem;
    height: 2em;
    line-height: 2.05em;
  }
  &:hover,
  &:active {
    background-color: var(--color-btn--hover);
  }
  &.is-active {
    background-color: var(--color-accent);
    color: white;

    input {
      accent-color: white;
    }
  }
}

.dark .ui-bundle,
.dark .ui-single,
.dark .ui-trial {
  background-color: var(--color-bg);
  color: var(--color-primary);
  &:hover,
  &:active {
    background-color: rgba(27, 27, 27, 1);
  }
  &.is-active {
    background-color: var(--color-accent);
    // color: white;
  }
}
.dark .ui-trial {
  background-color: var(--color-btn);
}

.ui-dialog {
  background: rgba(0, 0, 0, 0.05);
  position: fixed;
  inset: 0;
  padding: var(--spacing-md);
  // padding-top: var(--spacing-6xl);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 51;
  overflow: hidden;
  overflow-y: auto;
  height: calc(var(--vh) * 100);
  backdrop-filter: blur(10px);
  .dialog-inner {
    border-radius: var(--radius);
    background-color: var(--color-bg);
    width: 100%;
    max-width: 55.375rem;
  }
}
.dark .ui-dialog {
  background: rgba(255, 255, 255, 0.05);
}

.form-field {
  margin-bottom: var(--spacing-sm);
}

.ui-text-or-email {
  .header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-md);
    margin: 0 !important;
  }
  label {
    font-size: var(--text-lg);
    display: block;
  }
  input {
    background-color: var(--color-bg);
    border-radius: var(--radius-sm);
    width: 100%;
    border: none;
    font-size: var(--text-md);
    padding: 15px var(--spacing-md);
    padding-top: 17px;
    padding-bottom: 15px;
    &::placeholder {
      color: var(--color-secondary);
    }
  }
}

.Toastify {
  // position: fixed;
  // right: 0;
  // top: var(--header-height);
  --toastify-toast-top: var(--header-height);
  --toastify-toast-bd-radius: var(--radius);
  --toastify-font-family: var(--font-primary);
  // padding-top: var(--header-height);
  @media all and (max-width: variables.$md) {
    --toastify-toast-top: var(--header-height);
    --toastify-toast-right: var(--spacing-xs);
    --toastify-toast-bd-radius: var(--radius-sm);
    --toastify-color-light: transparent;
    .Toastify__toast-container--top-left,
    .Toastify__toast-container--top-center,
    .Toastify__toast-container--top-right {
      top: var(--header-height);
      z-index: 51;
    }
    .Toastify__toast-container {
      padding: var(--spacing-xs);
    }
    .Toastify__toast {
      border-radius: var(--radius-sm);
      background-color: var(--color-btn);
      backdrop-filter: blur(15px);
    }
  }
  .Toastify__toast-theme--light {
    // background-color: #474747;
    padding: 0;
  }
}

.module,
section {
  .header {
    .actions {
      display: flex;
      gap: 0.4em;
      a,
      button {
        font-size: var(--text-lg);
        color: var(--color-secondary);
        padding-inline: 0;
        padding-block: 0;
        margin: 0;
        &:hover,
        &:active,
        &.is-active {
          color: var(--color-primary);
        }
      }
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

@media all and (max-width: variables.$md) {
  .module {
    .header {
      .actions {
        display: none !important;
      }
    }
  }
  .c-container {
    padding: 0 var(--spacing-xs);
  }
  .ui-dialog {
    padding: var(--spacing-xs);
  }
  .ui-radio,
  .ui-checkbox,
  .ui-select,
  .ui-bundle,
  .ui-single {
    // padding: calc(var(--spacing-md) * 0.8) var(--spacing-md);
    padding: 0 var(--spacing-md);
    // height: 45px;
    // line-height: 50px;
    &,
    .inner {
      font-size: var(--text-md);
    }
  }
  .ui-select {
    padding: 0 var(--spacing-md);
    line-height: 2.5rem;
    // background-position-y: 15px;

    // height: auto;
    // line-height: unset;
    // padding: 0 var(--spacing-md);
    // font-size: var(--text-md);
  }
  .ui-bundle,
  .ui-single {
  }
  .ui-bundle {
    padding: var(--spacing-sm) var(--spacing-xs);
    padding: var(--spacing-sm) 1em;
    gap: 65px;
    font-size: var(--text-md);
    height: auto;
    .ui-checkbox {
      padding: 0;
    }
    .footer {
      align-items: end;
      .price {
        line-height: 0.9;
      }
    }
  }
  .ui-single {
    // padding: calc(var(--spacing-sm) * 0.75) var(--spacing-xs);
    padding: calc(var(--spacing-sm) * 0.85) var(--spacing-xs);
    padding: calc(var(--spacing-sm) * 0.85) 1em;
    padding: 0 1em;
    // background-color: red;
    min-width: 0;
    gap: 1em;
    .t-preview {
      flex: 1;
      min-width: 0; /* or some value */

      & > div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .t-preview,
    .footer {
      flex-shrink: 0;
    }
    .footer .discount {
      // display: none;
      position: initial;
    }
    .ui-checkbox {
      padding: 0;
      font-size: var(--text-lg);
    }
  }
  .ui-radio--group .header,
  .ui-text-or-email label {
    padding-left: 0;
    padding-right: 0;
  }
}

i.icon-mask {
  font-size: 1.3em;
}
