@use "../../styles/variables";

[data-slug="production"] {
  &,
  .template {
    background-color: black;
    color: white;
  }
  svg path {
    fill: white;
  }
}
.module--productions-ui {
  padding-top: 385px;
  .grid-masonry {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: masonry;
    // gap: var(--gutter);
    // column-count: 2;
  }
  .text {
    max-width: 32rem;
  }
  .text,
  article {
    width: 100%;
    margin-bottom: 65px;
  }
  article {
    .header {
      display: flex;
      gap: 0.4em;
      padding: 7px 0;
    }
  }

  .footer {
    text-align: center;
    margin: 93px 0;
  }

  @media all and (max-width: variables.$md) {
    padding-top: 126px;
  }
}
