@use "../../variables";

.buy {
  width: 100%;
  max-width: 55.375rem;
  padding: var(--spacing-8xl) var(--spacing-6xl);
  padding-bottom: 0;
  .header {
    text-align: center;
    margin-bottom: var(--spacing-5xl);
    h2 {
      margin-bottom: var(--spacing-2xl);
      line-height: 1;
    }
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  section {
    margin-bottom: var(--spacing-4xl);
    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: 0;
    }
    .header {
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-md);
      padding-top: calc(var(--spacing-md) * 0.6);
      padding-bottom: calc(var(--spacing-md) * 1.1);
      margin-bottom: var(--spacing-xl);
      margin-bottom: 0;
    }
    h2 {
    }
  }
  h3 {
    margin-bottom: var(--spacing-xl);
  }
  h4 {
  }
  .box {
    padding: var(--spacing-2xs);
  }

  @media all and (max-width: variables.$md) {
    // background-color: red;
    padding: 110px var(--spacing-xs);
    h2 {
      font-size: var(--text-2xl);
    }
    section {
      &:last-child {
        margin-bottom: 0;
      }
      .header {
        padding-left: 0;
        padding-right: 0;
        .ui-btn--pill {
          white-space: nowrap;
        }
        h4 {
          padding-left: calc(var(--spacing-md) * 0.8 + var(--spacing-3xs));
        }
        .ui-btn--tooltip {
          flex-shrink: 0;
        }
      }
    }
  }
}
