@use "../variables";

.template--home {
  .module {
    margin-bottom: var(--spacing-12xl);
    &--text-ui {
      margin-bottom: var(--spacing-3xl);
    }
  }
}

@media all and (max-width: variables.$md) {
  .template--home {
    .module {
      margin-bottom: var(--spacing-7xl);
    }
  }
}
