@use "../../variables";
.cookies {
  z-index: 99999;
  position: fixed;
  bottom: var(--spacing-5xl);
  bottom: calc(15.5px + 1rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-btn);
  padding: var(--spacing-md);
  border-radius: var(--radius);

  width: var(--container-lg--w);
  max-width: 100%;
  .inner {
    // padding: var(--spacing-md);
  }
  .ui-btn {
    text-transform: lowercase;
  }
  .ui-btn:not(.ui-btn__accent) {
    background-color: white;
    color: var(--color-primary);
  }

  @media all and (max-width: variables.$md) {
    // width: calc(100% - var(--spacing-md) * 2);
    right: var(--spacing-xs);
    left: var(--spacing-xs);
    bottom: var(--spacing-md);
    transform: none;
    width: auto;
    .inner {
      flex-direction: column;
      gap: var(--spacing-md);
    }
  }
}
.dark .cookies {
  .ui-btn:not(.ui-btn__accent) {
    // background-color: var(--color-btn);
    // color: white;
    color: black;
  }
}
