@use "../../variables";
.cookies {
  z-index: 2;
  position: fixed;
  bottom: var(--spacing-5xl);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-btn);
  padding: var(--spacing-md);
  border-radius: var(--radius);

  width: var(--container-lg--w);
  max-width: 100%;
  .inner {
    padding: var(--space-md);
  }
  .ui-btn:not(.ui-btn__accent) {
    background-color: white;
    color: var(--color-primary);
  }

  @media all and (max-width: variables.$md) {
    width: calc(100% - var(--space-md) * 2);
    right: var(--space-md);
    left: var(--space-md);
  }
}
.dark .cookies {
  .ui-btn:not(.ui-btn__accent) {
    background-color: var(--color-btn);
    color: white;
  }
}
